<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <log4net>
    <appender name="OfficeFile" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="\\sardc01\trash$\Office_%date{yyyyMMdd_HHmm}.log"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="-- start of log.
               "/>
        <param name="Footer" value="-- end of log.
               "/>
        <param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss.fff} %-5level [%3.3thread] %-30.30logger{2}  | %message   %exception %newline"/>
      </layout>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="OfficeFile"/>
    </root>

    <logger name="ErrorAccess">
      <level value="ERROR"/>
      <appender-ref ref="OfficeFile"/>
    </logger>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
